/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-contato.jpg)no-repeat center center;
		background-size: cover;
		height: 347px;
		overflow: hidden;
	}
	#banner h1{
		font-size: 278px;
		color: #c412dc;
		opacity: .6;
		line-height: 1;
		text-align: right;
		position: relative;
		top: 110px;
		right: 0px;
	}
	#banner .bg-white{
		width: 330px;
		height: 168px;
		border-radius: 15px;
		position: relative;
		top: -45px;
		left: 440px;
	}
	#banner p{
		font-size: 60px;
		color: var(--new-purple);
		line-height: 1.8;
		text-align: center;
	}

/* --- dados --- */
	#dados{
		overflow: hidden;
	}
	#dados .container{
		max-width: 854px!important;
		margin-top: 70px;
	}
	#dados h3.font-black-italic{
		font-size: 432px;
		color: #F6F6F6;
		line-height: .72;
		text-align: center;
		margin-top: -330px;
	}

/* --- informações --- */
	.info{
		padding-left: 0;
	}
	.info .border{
		border: 1px solid #C4C4C4;
		border-radius: 9px;
		padding: 26px 32px;	
		margin-bottom: 20px;
		max-width: 400px;
	}
	.info h2{
		font-size: 25px;
		margin-bottom: 15px;
	}
	.info p.text-gray{
		font-size: 15px;
		line-height: 20px;
		color: #707070!important;
	}
	.info .media{
		margin-bottom: 12px;
	}
	.info .media img{
		margin-right: 15px;
	}
	.info .media-body p.text-gray{
		font-size: 15px;
		margin-top: 5px;
		color: #707070!important;
	}
	.info .redes{
		margin-top: 10px;
	}
	.info .redes a{
		margin-left: 10px;
		margin-right: 10px;
	}
	a.img-trabalhe-conosco{
		position: relative;
	}
	a.img-trabalhe-conosco .bg-purple{
		width: 402px;
		height: 141px;
		border-radius: 9px;
		background-color: #3F0847;
		padding-top: 30px;
		padding-left: 35px;
		overflow: hidden;
	}
	a.img-trabalhe-conosco .bg-purple h2{
		font-size: 36px;
		position: relative;
		z-index: 1;
	}
	a.img-trabalhe-conosco img.faixa{
		position: relative;
		top: -250px;
		left: -50px;
	}
	a.img-trabalhe-conosco img.patins{
		position: relative;
		margin-left: auto;
		display: block;
		top: -120px;
	}

/* --- formulario --- */
	.formulario{
		padding-left: 10px;
		padding-right: 0;
	}
	.formulario input,
	.formulario select,
	.formulario textarea{
		height: 59px;
		border: 1px solid #C4C4C4;
		border-radius: 9px;
		font-size: 15px;
		padding-left: 20px;
		margin-bottom: 15px;
	}
	.formulario textarea{
		height: 145px;
		padding-top: 15px;
		padding-left: 20px;
		margin-bottom: 25px;
	}
	.formulario a{
		font-size: 13px;
		letter-spacing: 4px;
	}
	.formulario a:hover{
		color: var(--new-purple);
	}
	.formulario a hr{
		max-width: 105px;
		margin-left: 0!important;
	}
	.formulario select {
		-webkit-appearance: none;
  		-moz-appearance: none;
		background-image: url(../imagens/logos/icon-select.png);
	  	background-position: 93%;
	  	background-size: 18px;
	  	background-repeat: no-repeat;
	  	cursor: pointer;
	}

/* --- modal trabalhe conosco --- */
	#modal_trabalhe_conosco .modal-content{
		width: 867px;
		background-color: transparent;
		position: relative;
		margin-left: -20px;
	}
	#modal_trabalhe_conosco button.close{
		position: absolute;
		top: -30px;
		left: -35px;
		opacity: 1;
	}
	#modal_trabalhe_conosco .modal-body{
		max-width: 427px;
		border-radius: 10px;
		background-color: white;
		padding-top: 40px;
		padding-left: 30px;
		padding-right: 130px;
		padding-bottom: 50px;
	}
	#modal_trabalhe_conosco h2{
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 30px;
	}
	#modal_trabalhe_conosco input,
	#modal_trabalhe_conosco input{
		height: 50px;
	}
	/* Esconde o input */
	input[type='file'] {
		display: none
	}
	#modal_trabalhe_conosco label{
		font-size: 15px;
		border: 1px solid #C4C4C4;
		border-radius: 10px;
		padding-left: 20px;
		margin-bottom: 10px;
		color: #707070;
	 	cursor: pointer;
	 	width: 100%;
	 	height: 50px;
	 	padding-top: 15px;
	 	padding-right: 20px;
	}
	#modal_trabalhe_conosco label .float-right{
		background-color: var(--new-purple);
		color: #fff;
		width: 59px;
		height: 20px;
		border-radius: 20px;
		text-align: center;
		position: relative;
		font-size: 13px;
	}

	#modal_trabalhe_conosco img.img-modal{
		position: absolute;
		top: 65px;
		left: 335px;
	}

@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner h1{
			right: -130px;
		}
		#banner .bg-white{
			left: 300px;
		}

	/* --- dados --- */
		#dados h3.font-black-italic{
			margin-left: -100px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner h1{
			right: -280px;
		}
		#banner .bg-white{
			left: 160px;
		}

	/* --- dados --- */
		#dados h3.font-black-italic{
			margin-left: -300px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner .bg-white{
			left: 10px;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner h1{
			font-size: 154px;
			top: initial;
			bottom: -212px;
			right: -100px;
		}
		#banner .bg-white{
			width: 224px;
			height: 97px;
			top: initial;
			bottom: -110px;
			left: 10px;
			padding-top: 5px;
		}
		#banner p{
			font-size: 40px;
		}

	/* --- dados --- */
		#dados .container{
			margin-bottom: 0px;
		}
		#dados h3.font-black-italic{
			display: none;
		}

	/* --- informações --- */
		.info{
			padding-left: 15px;
		}
		.info .border{
			max-width: 100%;
		}

		a.img-trabalhe-conosco .bg-purple{
			margin-left: auto;
			margin-right: auto;
			margin-top: 80px;
		}
		a.img-trabalhe-conosco img.patins{
			margin-right: 100px;
		}

	/* --- formulario --- */
		.formulario{
			padding-left: 15px;
			padding-right: 15px;
		}

	/* --- modal trabalhe conosco --- */
		#modal_trabalhe_conosco .modal-content{
			max-width: 867px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			display: block;
			border: 0;
		}
		#modal_trabalhe_conosco button.close{
			top: -35px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		#modal_trabalhe_conosco .modal-body{
			padding-top: 50px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 130px;
		}
		#modal_trabalhe_conosco img.img-modal{
			position: absolute;
			top: 490px;
			left: 0px;
			right: 0px;
			max-width: 95%;
			margin-left: auto;
			margin-right: auto;
			border-radius: 15px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-contato.jpg)no-repeat 60% center;
		}
		#banner h1{
			right: 100px;
		}
		#banner .bg-white{			
			left: 0px;
		}

	/* --- informações --- */
		.info .border{
			padding: 23px 28px;
		}
		.info h2{
			font-size: 21px;
		}
		.info .redes a{
			margin-left: 9px;
			margin-right: 9px;
		}

		a.img-trabalhe-conosco .bg-purple{
			margin-left: auto;
			margin-right: auto;
			margin-top: 80px;
			max-width: 402px;
			width: 100%;
		}
		a.img-trabalhe-conosco .bg-purple h2{
			font-size: 31px;
		}
		a.img-trabalhe-conosco img.patins{
			margin-right: 0px;
		}

	/* --- modal trabalhe conosco --- */
		#modal_trabalhe_conosco .modal-content{
			margin-top: 50px;
		}
		#modal_trabalhe_conosco .modal-body{
			padding-top: 50px;
			padding-left: 28px;
			padding-right: 28px;
			padding-bottom: 130px;
		}
}

@media screen and (max-width: 375px) {
	/* --- informações --- */
		.info .border{
			padding: 23px 20px;
		}
		.info p.text-gray{
			font-size: 14px;
		}
		.info .media-body p.text-gray{
			font-size: 14px;
		}

		a.img-trabalhe-conosco .bg-purple{
			padding-top: 35px;
			padding-left: 20px;
		}
		a.img-trabalhe-conosco .bg-purple h2{
			font-size: 28px;
		}
		a.img-trabalhe-conosco img.patins{
			margin-right: -30px;
		}
		
	/* --- modal trabalhe conosco --- */
		#modal_trabalhe_conosco .modal-content{
			margin-top: 50px;
		}
		#modal_trabalhe_conosco .modal-body{
			padding-left: 20px;
			padding-right: 20px;
		}
		#modal_trabalhe_conosco h2{
			line-height: 40px;
		}
		#modal_trabalhe_conosco img.img-modal{
			top: 470px;
		}
}