/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-esporte.jpg)no-repeat center center;
		background-size: cover;
		height: 347px;
		overflow: hidden;
	}
	#banner h1{
		font-size: 278px;
		color: #c412dc;
		opacity: .6;
		line-height: 1;
		text-align: right;
		position: relative;
		top: 110px;
		right: 0px;
	}
	#banner .bg-white{
		width: 386px;
		height: 168px;
		border-radius: 15px;
		position: relative;
		top: -45px;
		left: 440px;
	}
	#banner p{
		font-size: 60px;
		color: var(--new-purple);
		line-height: 1.8;
		text-align: center;
	}

/* --- atleta --- */
	.div-atleta{
		position: absolute;
		right: 0;
		top: 470px;
	}

/* --- sobre --- */
	#sobre{
		position: relative;
		height: 430px;
		border: 1px solid transparent;
	}
	#sobre .mr-auto{
		margin-top: 140px;
		padding-right: 45px;
	}
	#sobre p{
		font-size: 15px;
		height: 200px;
		overflow: auto;
		padding-right: 5px;
		line-height: 20px;
	}
	#sobre p::-webkit-scrollbar-track-piece {
	  background-color: white;
	  border: 1px solid var(--new-purple);
	  border-radius: 20px;
	}
	#sobre p::-webkit-scrollbar-thumb:vertical {
	  height: 5px;
	  background-color: var(--new-purple);
	  border-radius: 20px;
	}

/* --- time --- */
	#time{
		background-color: #F6F6F6;
		padding-top: 2px;
		padding-bottom: 90px;
	}
	#time p.font-black-italic.text-center{
		font-size: 206px;
		line-height: .1;
		color: white;
		margin-top: 80px;
	}
	#time h2{
		font-size: 50px;
		margin-bottom: 70px;
		margin-top: -30px;
	}
	#time .scroll{
		overflow: auto;
		padding-bottom: 20px;
	}
	#time .scroll::-webkit-scrollbar-track-piece {
	  border: 1px solid var(--new-purple);
	  margin-left: 15px;
	  margin-right: 15px;
	}
	#time .d-flex{
		position: relative;
		width: 1050px;
		margin-left: auto;
		margin-right: auto;
	}
	#time .boxes{
		width: 280px;
	}
	#time .boxes .desc{
		box-shadow: 0 .2rem .5rem rgba(0,0,0,.15);
		border-radius: 10px;
		padding: 10px;
		height: 200px;
		overflow: auto;
	}
	#time .boxes .desc::-webkit-scrollbar {
	 	display: none;
	}
	#time .boxes:nth-child(2){
		margin-left: 100px;
		margin-right: 100px;
	}
	#time .boxes img{
		margin-bottom: 20px;
	}
	#time .boxes h3{
		font-size: 30px;
		margin-bottom: 20px;
	}
	#time .boxes p{
		font-size: 14px;
		height: 123px;
		overflow: auto;
		padding-right: 5px;
		line-height: 20px;
	}
	#time .boxes p::-webkit-scrollbar-track-piece {
	  background-color: white;
	  border: 1px solid var(--new-purple);
	  border-radius: 20px;
	}
	#time .boxes p::-webkit-scrollbar-thumb:vertical {
	  height: 5px;
	  background-color: var(--new-purple);
	  border-radius: 20px;
	}

	#time .borda{
		border-bottom: 2px dashed var(--new-purple);
		position: relative;
		max-width: 800px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		top: 120px;
		right: 50px;
	}
	#time img.bolinha-1,
	#time img.bolinha-2{
		position: relative;
		top: 70px;
		/*left: 390px;*/
		left: 35%;
		margin-top: 34px;
		max-width: 32px;
	}
	#time img.bolinha-2{
		/*left: 770px;*/
		left: 53%;
	}

/* --- como funciona --- */
	#como-funciona{
		padding-top: 70px;
		padding-bottom: 80px;
		position: relative;
	}
	#como-funciona h2{
		font-size: 50px;
		margin-bottom: 70px;
	}
	#como-funciona .media{
		margin-bottom: 80px;
	}
	#como-funciona .media p.align-self-center{
		width: 65px;
		height: 65px;
		background-color: var(--new-purple);
		border-radius: 50%;
		font-size: 33px;
		text-align: center;
		padding-top: 9px;
		margin-right: 30px;
		margin-left: 10px;
	}
	#como-funciona .media-body p{
		font-size: 15px;
		line-height: 20px;
		height: 140px;
		overflow: auto;
		padding-right: 5px;
	}
	#como-funciona .media-body p::-webkit-scrollbar-track-piece {
	  background-color: white;
	  border: 1px solid var(--new-purple);
	  border-radius: 20px;
	}
	#como-funciona .media-body p::-webkit-scrollbar-thumb:vertical {
	  height: 5px;
	  background-color: var(--new-purple);
	  border-radius: 20px;
	}

	#como-funciona .borda{
		border-left: 2px dashed var(--new-purple);
		height: 430px;
		position: absolute;
		margin-top: 80px;
		margin-left: 42px;
	}

	#como-funciona .slider-nav .box{
		width: 230px;
		border: 1px solid var(--new-gray);
		border-radius: 10px;
		padding: 10px 15px 15px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#como-funciona .slider-nav .box h3{
		font-size: 18px;
	}
	#como-funciona .slider-nav .box h3.text-blue{
		color: #0413E4;
	}
	#como-funciona .slider-nav .box h3.text-pink{
		color: #E91196;
	}
	#como-funciona .slider-nav .box p.text-gray{
		font-size: 14px;
		line-height: 18px;
	}
	#como-funciona .slider-nav .box a.link{
		font-size: 11px;
		letter-spacing: 2px;
		color: #3F3F3F;
		margin-bottom: 5px;
	}
	#como-funciona .slider-nav .box hr{
		width: 80px!important;
		margin-left: 0!important;
	}
	#como-funciona .slider-nav .box:hover h3,
	#como-funciona .slider-nav .box:hover p.link{
		color: var(--new-purple);
	}

	#como-funciona .carousel-fotos-produto.slider{
		background-color: white;
		margin-bottom: 20px;
	}
	#como-funciona .carousel-fotos-produto img{
		display: block;
		margin: auto;
	}
	#como-funciona .slider-nav div .box{
		opacity: .3;
		margin-bottom: 10px;
	}
	#como-funciona .slick-slide.slick-current.slick-active div .box{
		opacity: 1;
		border: 0;
		box-shadow: 0px 5px 10px var(--new-gray);
	}

	#como-funciona .slider-nav .btn-slick-carousel-left,
	#como-funciona .slider-nav .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 42%;
		cursor: pointer;
		max-height: 40px;
	}
	#como-funciona .slider-nav .btn-slick-carousel-left{
		left: 2%;
	}
	#como-funciona .slider-nav .btn-slick-carousel-right{
		right: 2%;
	}

/* --- oficinas --- */	
	#oficinas .grid-1 .descricao,
	#oficinas .grid-3 .descricao,
	#oficinas .grid-5 .descricao{
		padding-left: 60px!important;
		max-width: 520px;
		padding-top: 80px;
	}
	#oficinas .grid-2 .descricao,
	#oficinas .grid-4 .descricao{
		padding-right: 120px!important;
		padding-top: 80px;
		max-width: 540px;
		margin-left: auto;
	}
	#oficinas h2{
		font-size: 50px;
		margin-bottom: 20px;
	}
	#oficinas p{
		font-size: 15px;
		line-height: 20px;
		height: 180px;
		overflow: auto;
		padding-right: 5px;
	}
	#oficinas p::-webkit-scrollbar-track-piece {
	  background-color: white;
	  border: 1px solid var(--new-purple);
	  border-radius: 20px;
	}
	#oficinas p::-webkit-scrollbar-thumb:vertical {
	  height: 5px;
	  background-color: var(--new-purple);
	  border-radius: 20px;
	}

	#oficinas .row{
		background-size: cover;
		height: 397px;
	}
	#oficinas .grid-1 .imagem{
		background: url(../imagens/img-oficinas.png)no-repeat center center;
	}
	#oficinas .grid-2 .imagem{
		background: url(../imagens/img-voluntarios.png)no-repeat center center;
	}
	#oficinas .grid-3 .imagem{
		background: url(../imagens/img-equipamentos.png)no-repeat center center;
	}
	#oficinas .grid-4 .imagem{
		background: url(../imagens/img-regras.png)no-repeat center center;
	}
	#oficinas .grid-5 .imagem{
		background: url(../imagens/img-pontuacao.png)no-repeat center center;
	}
	
	#oficinas img.bolinhas,
	#oficinas img.icon-bolinha{
		position: absolute;
	}
	#oficinas img.bolinhas{
		max-width: 103px;
		left: 0;
		right: 0;
		margin-top: -51px;
		margin-left: auto;
		margin-right: auto;
		z-index: -2;
	}
	#oficinas .icon-bolinha{
		left: 0;
		right: 0;
		margin-top: -31px;
		margin-left: auto;
		margin-right: auto;
		z-index: 1;
	}

/* --- ligas --- */
	#ligas{
		padding-top: 90px;
		padding-bottom: 200px;
	}
	#ligas p.mb-0.font-black-italic{
		font-size: 206px;
		line-height: .1;
		color: #F6F6F6;
		margin-top: 70px;
		margin-left: -110px;
	}
	#ligas h2{
		font-size: 50px;
		margin-bottom: 70px;
		margin-top: -20px;
	}
	#ligas .carousel-ligas{
		margin-top: 80px;
	}
	#ligas .box img{
		height: 170px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 15px;
	}
	#ligas .box p.font-bold{
		font-size: 13px;
		letter-spacing: 3px;
		margin-bottom: 10px;
	}
	#ligas .box p.nome{
		font-size: 25px;
	}

	#ligas .btn-slick-carousel-left,
	#ligas .btn-slick-carousel-right{
		position: absolute;
		top: -120px;
		cursor: pointer;
		width: 16px;
	}
	#ligas .btn-slick-carousel-left{
		left: 85.5%;
	}
	#ligas .btn-slick-carousel-right{
		right: 10.5%;
	}

/* --- duvidas --- */
	#duvidas{
		background-color: #F6F6F6;
		padding-top: 80px;
		padding-bottom: 30px;
		position: relative;
		max-width: 1920px;
		overflow: hidden;
	}
	#duvidas img.atleta-1,
	#duvidas img.atleta-2{
		position: absolute;
	}
	#duvidas img.atleta-1{
		left: -1090px;
		top: -210px;
	}
	#duvidas img.atleta-2{
		right: -810px;
		top: -120px;
	}
	#duvidas h2.text-center{
		font-size: 50px;
		margin-bottom: 55px;
	}
	#duvidas .accordion{
		max-width: 878px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 1;
	}

	#duvidas .accordion .card{
		background-color: white;
		border-radius: 10px!important;
		margin-bottom: 20px;
		border: none;
		transition: .3s;
	}
	#duvidas .accordion .card-header{
		min-height: 71px;
		height: 100%;
		padding-top: 18px;
	    background-color: transparent;
	    border: none;
	    transition: .3s;
	}
	#duvidas .accordion .float-left{
		max-width: 580px;
		width: 100%;
	}
	#duvidas .accordion button.font-semibold{
		font-size: 20px;
		line-height: 20px;
		white-space: normal!important;
		text-align: left;
		color: #707070;
		text-decoration: none;
		padding-left: 8px;
	}
	#duvidas .accordion button.icon{
		transition: .3s;
	}
	#duvidas .accordion button.icon:before{
		content: url(../imagens/logos/arrow-down-2.png);
	}
	#duvidas .accordion .card-body{
		transition: .3s;
		padding: 0px 30px 20px;
		margin-top: -15px;
	}
	#duvidas .accordion .card-body p{
		font-size: 15px;
		margin-bottom: 20px;
	}

	#duvidas .accordion .card-header[aria-expanded="true"] {
		background-color: var(--new-blue);
		transition: .3s;
	}
	#duvidas .accordion .card-header[aria-expanded="true"] button.icon:before{
		content: url(../imagens/logos/arrow-up-2.png);
	}
	#duvidas .accordion .card:hover{
		transition: .3s;
	}
	#duvidas .border-top{
		border-top: 1px solid #707070!important;
		opacity: .4;
	}

	#duvidas .frase{
		font-size: 298px;
		color: #EBE9E9;
		line-height: .1;
		position: relative;
		top: -10px;
		margin-left: -310px;
	}

@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner h1{
			right: -130px;
		}
		#banner .bg-white{
			left: 300px;
		}
		
	/* --- atleta --- */
		.div-atleta{
			overflow-x: hidden;
		}
		img.img-atleta-3{
			position: relative;
			right: -140px;
		}

	/* --- time --- */
		#time img.bolinha-1,
		#time img.bolinha-2{
			left: 33%;
		}
		#time img.bolinha-2{
			left: 53%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner h1{
			right: -290px;
		}
		#banner .bg-white{
			left: 160px;
		}

	/* --- atleta --- */
		img.img-atleta-3{
			right: -280px;
		}	

	/* --- time --- */
		#time img.bolinha-1,
		#time img.bolinha-2{
			left: 29%;
		}
		#time img.bolinha-2{
			left: 54%;
		}
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner .bg-white{
			left: 10px;
		}

	/* --- atleta --- */
		img.img-atleta-3{
			right: -400px;
		}

	/* --- time --- */
		#time img.bolinha-1,
		#time img.bolinha-2{
			left: 23%;
		}
		#time img.bolinha-2{
			left: 56%;
		}

	/* --- duvidas --- */
		#duvidas img.atleta-1,
		#duvidas img.atleta-2{
			display: none;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner h1{
			font-size: 154px;
			top: initial;
			bottom: -212px;
			right: 0px;
		}
		#banner .bg-white{
			width: 224px;
			height: 97px;
			top: initial;
			bottom: -110px;
			left: 10px;
			padding-top: 5px;
		}
		#banner p{
			font-size: 40px;
		}

	/* --- atleta --- */
		.div-atleta{
			position: relative;
			right: 0;
			top: -100px;
		}
		img.img-atleta-3{
			right: -80px;
		}

	/* --- sobre --- */
		#sobre .mr-auto{
			margin-top: 80px;
			padding-right: 0px;
		}

	/* --- time --- */
		#time .scroll{
			padding-left: 15px!important;
			padding-right: 15px!important;
		}
		#time .borda{
			right: -50px;
		}
		#time img.bolinha-1,
		#time img.bolinha-2{
			left: 32%;
		}
		#time img.bolinha-2{
			left: 78%;
		}

	/* --- oficinas --- */	
		#oficinas .grid-1 .descricao,
		#oficinas .grid-3 .descricao,
		#oficinas .grid-5 .descricao{
			padding-left: 15px!important;
			max-width: 100%;
		}
		#oficinas .grid-2 .descricao,
		#oficinas .grid-4 .descricao{
			padding-right: 15px!important;
			padding-left: 15px;
			padding-top: 80px;
			max-width: 100%;
		}
		#oficinas .row{
			background-size: cover;
			height: auto;
		}
		#oficinas .grid-1 .col-lg-6,
		#oficinas .grid-2 .col-lg-6,
		#oficinas .grid-3 .col-lg-6,
		#oficinas .grid-4 .col-lg-6,
		#oficinas .grid-5 .col-lg-6{
			height: 397px;
		}
		#oficinas img.bolinhas,
		#oficinas img.icon-bolinha{
			display: none;
		}

	/* --- ligas --- */
		#ligas{
			padding-top: 0px;
			padding-bottom: 100px;
		}
		#ligas p.mb-0.font-black-italic{
			display: none;
		}
		#ligas h2{
			margin-top: 0px;
		}
		#ligas .btn-slick-carousel-right{
			right: 7%;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-esporte.jpg)no-repeat 60% center;
		}
		#banner h1{
			right: 100px;
		}
		#banner .bg-white{			
			left: 0px;
		}

	/* --- atleta --- */
		.div-atleta{
			right: 0;
			top: -40px;
		}
		img.img-atleta-3{
			right: -100px;
			max-width: initial;
		}

	/* --- sobre --- */
		#sobre{
			height: 380px;
		}
		#sobre p{
			height: 240px;
		}

	/* --- time --- */
		#time p.font-black-italic.text-center{
			display: none;
		}
		#time h2{
			font-size: 40px;
			margin-bottom: 0px;
			margin-top: 40px;
		}
		#time .borda{
			width: 760px;
			right: -50px;
		}
		#time img.bolinha-1,
		#time img.bolinha-2{
			left: 60%;
		}
		#time img.bolinha-2{
			left: 580px;
		}

	/* --- como funciona --- */
		#como-funciona{
			padding-top: 50px;
		}
		#como-funciona h2{
			font-size: 40px;
		}
		#como-funciona .media{
			margin-bottom: 60px;
		}
		#como-funciona .media-body p{
			height: 140px;
		}
		#como-funciona .borda{
			height: 380px;
		}

		#como-funciona .slider-nav .box{
			width: 235px;
			/*padding: 10px 15px 15px;*/
			/*margin-left: 10px;*/
			/*margin-right: 10px;*/
		}
		#como-funciona .slider-nav .box h3{
			font-size: 17px;
		}
		#como-funciona .slider-nav .box p.text-gray{
			font-size: 13px;
		}
		#como-funciona .slider-nav .box a.link{
			font-size: 10px;
		}
		#como-funciona .slider-nav .box hr{
			width: 75px!important;
		}

	/* --- oficinas --- */	
		#oficinas .grid-1 .descricao,
		#oficinas .grid-3 .descricao,
		#oficinas .grid-5 .descricao{
			padding-top: 30px;
		}
		#oficinas .grid-2 .descricao,
		#oficinas .grid-4 .descricao{
			padding-top: 30px;
		}
		#oficinas h2{
			font-size: 40px;
		}
		#oficinas p{
			line-height: 20px;
			height: 230px;
		}
		#oficinas .grid-1 .col-lg-6,
		#oficinas .grid-2 .col-lg-6,
		#oficinas .grid-3 .col-lg-6,
		#oficinas .grid-4 .col-lg-6,
		#oficinas .grid-5 .col-lg-6{
			height: 355px;
		}
		
	/* --- ligas --- */
		#ligas{
			padding-top: 70px;
		}
		#ligas h2{
			font-size: 40px;
			margin-bottom: 0px;
		}
		#ligas .carousel-ligas{
			margin-top: 50px;
		}
		#ligas .box img{
			height: 150px;
		}
		#ligas .btn-slick-carousel-left,
		#ligas .btn-slick-carousel-right{
			top: -80px;
		}
		#ligas .btn-slick-carousel-left{
			left: 78%;
		}
		#ligas .btn-slick-carousel-right{
			right: 8%;
		}

	/* --- duvidas --- */
		#duvidas h2.text-center{
			font-size: 40px;
		}
		#duvidas .accordion .float-left{
			max-width: 250px;
		}
		#duvidas .accordion .card-body p{
			font-size: 14px;
		}
		#duvidas .frase{
			display: none;
		}
}

@media screen and (max-width: 375px) {
	/* --- atleta --- */
		.div-atleta{
			top: 20px;
		}

	/* --- sobre --- */
		#sobre{
			height: auto;
		}
		#sobre p{
			height: 300px;
		}

	/* --- como funciona --- */
		#como-funciona .media-body p{
			height: 150px;
			font-size: 14px;
		}

	/* --- oficinas --- */
		#oficinas p{
			line-height: 20px;
			height: 260px;
		}
		#oficinas .grid-1 .col-lg-6,
		#oficinas .grid-2 .col-lg-6,
		#oficinas .grid-3 .col-lg-6,
		#oficinas .grid-4 .col-lg-6,
		#oficinas .grid-5 .col-lg-6{
			height: 370px;
		}

	/* --- ligas --- */
		#ligas .box img{
			height: 130px;
		}
		#ligas .box p.nome{
			font-size: 23px;
		}

	/* --- duvidas --- */
		#duvidas .accordion .float-left{
			max-width: 195px;
		}
}