/*
	CSS que engloba todas as páginas
*/

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("../fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("../fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}

/* --- outros --- */
	:root{
		--new-purple-dark:#3F0847;
		--new-purple:#670E73;
		--new-red:#FF0000;
		--new-gray:#B8B8B8;
		--new-gray-dark:#707070;
	}

	body{
		font-family: "Montserrat-Regular";
	}
	a:hover{
		text-decoration: none;
	}

	.font-regular{
		font-family: "Montserrat-Regular";
	}
	.font-bold{
		font-family: "Montserrat-Bold";
	}
	.font-semibold{
		font-family: "Montserrat-SemiBold";
	}
	.font-black-italic{
		font-family: "Montserrat-BlackItalic";
	}
	.font-bold-italic{
		font-family: "Montserrat-BoldItalic";
	}
	.font-light{
		font-family: "Montserrat-Light";
	}
	.font-medium{
		font-family: "Montserrat-Medium";
	}

	.bg-purple-dark{
		background-color: var(--new-purple-dark);
	}
	.bg-purple{
		background-color: var(--new-purple);
	}
	.bg-red{
		background-color: var(--new-red);
	}

	.text-purple-dark{
		color: var(--new-purple-dark);
	}
	.text-purple{
		color: var(--new-purple);
	}
	.text-red{
		color: var(--new-red);
	}
	.text-gray{
		color: var(--new-gray);
		/*opacity: .6;*/
	}
	.text-gray-dark{
		color: var(--new-gray-dark);
		/*opacity: .6;*/
	}

	.container{
		max-width: 1077px!important;
	}
	.btn-red{
		border: 1px solid var(--new-red);
		background-color: var(--new-red);
		color: white;
		border-radius: 50px;
		/*box-shadow: 0 .8rem 2.5rem rgba(0,0,0,.500);*/
		transition: .3s;
	}
	.btn-red:hover{
		background-color: transparent;
		color: var(--new-red);
		transition: .3s;
	}

	.btn-purple{
		border: 1px solid var(--new-purple);
		background-color: var(--new-purple);
		color: white!important;
		border-radius: 10px;
		/*box-shadow: 0 .8rem 2.5rem rgba(0,0,0,.500);*/
		transition: .3s;
	}
	.btn-purple:hover{
		background-color: transparent;
		color: var(--new-purple)!important;
		transition: .3s;
	}

/*--- Barra de rolagem do navegador --- */
	::-webkit-scrollbar {
	 	width: 10px;
	  	height: 10px;
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-purple);
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:horizontal {
	  	background-color: var(--new-purple);
	  	border-radius: 20px;
	}

/*--- LGPD ---*/
	/* Deixa desabilitado por padrão */
	.js_enabled .lgpd-cookies {
	    display: none;
	}
	  
	.lgpd-cookies {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		width: 85vw;
		border: none;
		border-radius: 0;
		padding: 15px;
		position: fixed;
		bottom: 3%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
		background: rgba(0, 0, 0, 0.85);
		box-shadow: 2px 1px 20px #00000029;
		border-radius: 10px;
	}
	  
	.lgpd-texto {
		width: 72%;
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;
		color: #fff;
	}

	.lgpd-link {
		color: var(--clr-primary);
	}

	.lgpd-link:hover {
		color: var(--clr-primary);
	}

	.lgpd-botao {
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
		color: #ffffff;
	}

	.lgpd-botao.continuar {
		border: 1px solid var(--clr-primary);
		border-radius: 8px;
		padding: 10px 15px;
		margin-right: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.lgpd-botao.continuar:hover {
		color: #ffffff;
		background: var(--clr-primary);
	}

	.lgpd-botao.sair:hover {
		text-decoration: underline;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 480px) {
	
}