
/* --- header - topo --- */
	header #top{
		height: 36px;
	}
	header #top a{
		margin-top: 5px;
	}
	header #top input{
		height: 26px;
		border-radius: 20px;
		padding-left: 15px;
		font-size: 14px;
	}

/* --- header - navegacao --- */
	header .navbar{
		height: 71px;
		position: relative;
		background-color: white;
	}
	header .navbar-brand img{
		position: absolute;
		left: -10px;
		margin-top: -72px;
	}
	header .navbar-nav{
		margin-top: -20px;
	}
	header .navbar-nav li a{
		font-size: 16px;
		color: var(--new-purple);
		margin-left: 6.5px;
		margin-right: 6.5px;
	}
	header .navbar-nav li a:before{
		content: '●';
		transform: scale(1.5);
		color: transparent;
		display: block;
		line-height: 20px;
		text-align: center;
	}
	header .navbar-nav li.active a::before,
	header .navbar-nav li a:hover::before{
		color: var(--new-purple);
	}

	header .navbar-nav li.redes a:before{
		display: none;
	}

	header li.redes{
		margin-top: 30px;
	}
	header li.redes a{
		margin-left: 8px;
		margin-right: 8px;
	}
	header li.redes a img,
	header li.redes a img:hover{
		transition: .3s;
	}
	header li.redes a img:hover{
		margin-top: -5px;
	}

/* -- footer - bg-purple --- */
	footer{
		position: relative;
	}
	footer .bg-purple-dark{
		padding-top: 60px;
		padding-bottom: 50px;
	}
	footer .descricao p{
		margin-top: 25px;
		font-size: 15px;
		color: #B8B8B8;
		margin-right: 20px;
		line-height: 28px;
	}
	footer .descricao a{
		margin-left: 6px;
		margin-right: 6px;
	}
	footer .menu h3,
	footer .contato h3,
	footer .novidades h3{
		font-size: 23px;
		margin-bottom: 30px;
	}
	footer .menu li,
	footer .contato li{
		margin-bottom: 2px;
	}
	footer .menu li a,
	footer .contato li a{
		font-size: 15px;
		color: #B8B8B8;
	}

	footer .menu li a:hover,
	footer .menu li a.active,
	footer .contato li a:hover{
		color: white!important;
	}

	footer .novidades input{
		height: 38px;
		border: 1px solid #707070;
		border-radius: 8px;
		margin-bottom: 12px;
		font-size: 13px;
		color: #F4F2F0;
		background-color: transparent;
	}
	footer .novidades input::placeholder{
		color: #F4F2F0;
	}
	footer .novidades a.btn-white{
		text-align: center;
		height: 38px;
		border-radius: 8px;
		font-size: 15px;
		background-color: white;
		border: 1px solid white;
		padding-top: 8px;
	}
	footer .novidades a.btn-white:hover{
		background-color: transparent;
		color: white;
	}

/* --- footer - bg-white --- */
	footer .bg-white{
		height: 60px;
		padding-top: 15px;
	}
	footer .bg-white p.text-purple{
		font-size: 15px;
	}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- header - navegacao --- */
		header .navbar-brand img{
			left: 10px;
		}
		header .navbar-nav li a{
			margin-left: 3px;
			margin-right: 3px;
		}

		header li.redes{
			margin-top: 30px;
		}
		header li.redes a{
			margin-left: 6px;
			margin-right: 6px;
		}
}

@media screen and (max-width: 992px) {
	/* --- header - navegacao --- */
		header .navbar{
			height: 56px;
			background-color: var(--new-purple)!important;
		}
		header .navbar-brand img{
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			margin-top: -55px;
			z-index: 4;
		}
		header .navbar-collapse{
			background-color: var(--new-purple)!important;
			z-index: 2;
			margin-top: 16px;
			padding-top: 60px;
			padding-left: 20px;
			padding-bottom: 20px;
		}
		header .navbar-nav li a{
			margin-left: 3px;
			margin-right: 3px;
			color: white;
		}
		header .navbar-nav li a:before{
			display: inline;
			line-height: 0px;
			margin-right: 10px;
		}
		header .navbar-nav li.active a::before,
		header .navbar-nav li a:hover::before{
			color: white;
		}

		header li.redes{
			display: none;
		}
		header li.redes.d-lg-none{
			display: block;
			margin-left: 10px;
			margin-top: 10px;
		}
		header li.redes.d-lg-none a{
			filter: brightness(0) invert(1);
			margin-left: 10px;
			margin-right: 10px;
		}
}

@media screen and (max-width: 480px) {
	/* --- header - topo --- */
		header #top{
			display: none;
		}
	/* --- header - navegacao --- */
		header .navbar-brand img {
		    margin-top: -54px;
		}
		header .navbar-collapse{
			padding-top: 80px;
		}

	/* -- footer - bg-purple --- */
		footer .bg-purple-dark{
			padding-top: 20px;
		}
		footer .menu h3,
		footer .contato h3,
		footer .novidades h3{
			font-size: 23px;
			margin-bottom: 20px;
		}
}

@media screen and (max-width: 375px) {
	/* -- footer - bg-purple --- */
		footer .menu li a,
		footer .contato li a{
			font-size: 14px;
		}
}