/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-historico.jpg)no-repeat center center;
		background-size: cover;
		height: 347px;
		overflow: hidden;
	}
	#banner h1{
		font-size: 255px;
		color: #c412dc;
		opacity: .6;
		line-height: 1;
		text-align: right;
		position: relative;
		top: 130px;
		left: -370px;
	}
	#banner .bg-white{
		width: 293px;
		height: 168px;
		border-radius: 15px;
		position: relative;
		top: -20px;
		left: 440px;
	}
	#banner p{
		font-size: 60px;
		color: var(--new-purple);
		line-height: 1.8;
		text-align: center;
	}

/* --- organizar --- */
	#organizar{
		margin-top: 95px;
		margin-left: 10px;
	}
	#organizar .descricao{
		margin-right: 20px;
	}
	#organizar p{
		font-size: 12px;
		padding-top: 5px;
	}
	#organizar select{
		border-radius: 50px;
		border-color: rgb(112 112 112 / 27%)!important;
		font-size: 11px;
		height: 29px;
		margin-right: 17px;
		margin-bottom: 17px;
	}
	#organizar select:nth-child(2),
	#organizar select:nth-child(3){
		width: 82px;
	}
	#organizar select:nth-child(4){
		width: 77px;
	}
	#organizar select:nth-child(5){
		width: 129px;
	}

	#organizar select{
		-webkit-appearance: none;
  		-moz-appearance: none;
		background-image: url(../imagens/logos/icon-select.png);
	  	background-position: 82%;
	  	background-size: 12px;
	  	background-repeat: no-repeat;
	  	cursor: pointer;
	}
	#organizar select:nth-child(5){
		background-position: 88%;
	}

/* --- lista --- */
	#lista{
		margin-top: 10px;
		overflow: hidden;
	}
	#lista .scroll{
		overflow: auto;
	}
	#lista .border{
		margin-bottom: 5px;
		width: 1010px;
		/*margin-left: auto;*/
		margin-right: auto; 
		border-color: #707070;
		border-radius: 10px!important;
		overflow: hidden;
	}
	#lista .border::-webkit-scrollbar-track-piece {
	  border: 1px solid var(--new-purple);
	  margin-left: 15px;
	  margin-right: 15px;
	}

	/* --- */

	#lista .card{
		border: 0;
	}
	#lista .card:nth-child(odd) .card-header{
		background-color: white;
	}
	#lista .card:nth-child(even){
		background-color: #F6F6F6;
	}
	#lista .card-header{
		padding: 15px 80px 15px 80px;
		border: 0;
	}

	/* --- */

	#lista .time{
		text-align: center;
		max-width: 207px;
	}
	#lista .time p.font-semibold{
		font-size: 16px;
		color: #707070;
		margin-bottom: 15px!important;
	}
	#lista .time img.time{
		max-height: 75px;
		height: 100%;	
	}
	#lista .time span.d-inline{
		font-size: 29px;	
	}
	#lista .time .placar{
		font-size: 30px;
		margin-top: 15px;
		color: #707070;
		margin-bottom: 0px;
	}

	/* --- */

	#lista .descricao{
		max-width: 230px;
		width: 100%;
		margin-left: 120px;
	}
	#lista .descricao p.data{
		font-size: 11px;
		margin-bottom: 5px;
		letter-spacing: 6px;
	}
	#lista .descricao h2{
		font-size: 27px;
		margin-bottom: 8px;
	}
	#lista .descricao p.local{
		font-size: 10px;
	}

	/* --- */
	
	#lista .botoes{
		margin-left: 50px;
		max-width: 866px;
		width: 100px;
	}
	#lista .botoes span button{
		width: 125px;
		height: 33px;
		border-radius: 20px;
		font-size: 12px;
		text-decoration: none;
	}
	#lista .botoes span.float-left button{
		border: 1px solid var(--new-purple);
		color: var(--new-purple);
	}
	#lista .botoes span.float-left button:hover{
		background-color: var(--new-purple);
		color: white;
	}
	#lista .botoes span.float-right button{
		border: 1px solid var(--new-purple);
		background-color: var(--new-purple);
		color: white;
	}
	#lista .botoes span.float-right button:hover{
		background-color: transparent;
		color: var(--new-purple);
	}

	/* --- */

	#lista .card-body{
		margin-left: auto;
		margin-right: auto;
		padding-left: 40px;
		padding-right: 40px;
	}
	#lista .card-body .compartilhe{
		background-color: var(--new-purple);
		display: inline-block;
		width: 210px;
		height: 37px;
		padding-top: 5px;
		text-align: center;
		color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		margin-bottom: 22px;
	}
	#lista .card-body .compartilhe p.d-inline{
		font-size: 12px;
		margin-right: 15px;
	}
	#lista .card-body .compartilhe a img{
		max-height: 15px;
		margin-left: 3px;
		margin-right: 3px;
	}
	#lista .card-body .row{
		margin-bottom: 45px;
	}
	#lista .card-body p{
		font-size: 13px;
		line-height: 17px;
		margin-bottom: 8px!important;
	}
	#lista .card-body p.mb-0.text-purple{
		margin-right: 4px;
	}
	#lista .card-body .col-3:nth-child(1){
		padding-left: 20px;
		padding-right: 0;
	}
	#lista .card-body .col-3:nth-child(2){
		flex: 0 0 28%;
		max-width: 28%;

		padding-left: 0!important;
		padding-right: 0!important;
	}
	#lista .card-body .col-3:nth-child(2) p{
		margin-bottom: 8px!important;
	}
	#lista .card-body .col-3:nth-child(3){
		flex: 0 0 20.666667%;
    	max-width: 20.666667%;

		padding-left: 30px;
		padding-right: 30px;
	}
	#lista .card-body .col-3:nth-child(3) select{
		border: 1px solid var(--new-purple);
		color: var(--new-purple);
		border-radius: 50px;
		font-size: 13px;
		height: 25px;
		margin-bottom: 10px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 10px;
		padding-right: 0;
	}

	#lista select{
		-webkit-appearance: none;
  		-moz-appearance: none;
		background-image: url(../imagens/logos/icon-select.png);
	  	background-position: 94%;
	  	background-size: 12px;
	  	background-repeat: no-repeat;
	  	cursor: pointer;
	}

	#lista .card-body .col-3:nth-child(4){
		padding-left: 0!important;
		padding-right: 0!important;
	}
	#lista .card-body .col-3:nth-child(4) p{
		margin-bottom: 8px!important;
	}
	#lista .card-body .col-3:nth-child(4) a.btn{
		width: 97px;
		height: 28px;
		background-color: var(--new-purple);
		border: 1px solid var(--new-purple);
		border-radius: 20px;
		color: white;
		font-size: 12px;
		margin-top: 10px;
		padding-top: 4px;
		margin-right: 30px;
	}
	#lista .card-body .col-3:nth-child(4) a.btn:hover{
		background-color: transparent;
		color: var(--new-purple);
	}

	/* --- */
	
	#lista .card-body .galeria{
		margin-bottom: 30px;
	}
	#lista .card-body .galeria img{
		width: 168px;
		height: 178px;
		border-radius: 10px;
		object-fit: cover;
		margin-right: 12px;
	}
	#lista .card-body .galeria img:last-child{
		margin-right: 0px;	
	}
	
/* --- frase --- */
	.frase p{
		font-size: 298px;
		color: #EBE9E9;
		line-height: .9;
		position: relative;
		top: 30px;
		margin-left: -20px;
		z-index: -1;
	}

@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner h1{
			left: -240px;
		}
		#banner .bg-white{
			left: 300px;
		}

	/* --- frase --- */
		.frase p{
			margin-left: -200px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner h1{
			left: -90px;
		}
		#banner .bg-white{
			left: 160px;
		}

	/* --- frase --- */
		.frase p{
			margin-left: -250px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner h1{
			left: 80px;
		}
		#banner .bg-white{
			left: 10px;
		}

	/* --- organizar --- */
		#organizar{
			margin-left: 0px;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner h1{
			font-size: 154px;
			top: initial;
			bottom: -212px;
			left: 0px;
		}
		#banner .bg-white{
			width: 224px;
			height: 97px;
			top: initial;
			bottom: -110px;
			left: 10px;
			padding-top: 5px;
		}
		#banner p{
			font-size: 40px;
		}

	/* --- lista --- */
		#lista{
			margin-top: 15px;
			margin-bottom: 70px;
		}

	/* --- frase --- */
		.frase p{
			display: none;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-historico.jpg)no-repeat 60% center;
		}
		#banner h1{
			right: 100px;
		}
		#banner .bg-white{			
			left: 0px;
		}

	/* --- organizar --- */
		#organizar{
			margin-top: 80px;
		}
		#organizar .descricao{
			margin-right: 15px;
		}
		#organizar select{
			margin-right: 10px;
			margin-bottom: 10px;
		}
		#organizar select:nth-child(2),
		#organizar select:nth-child(3){
			width: 120px;
		}
		#organizar select:nth-child(4){
			width: 120px;
		}
		#organizar select:nth-child(5){
			width: 130px;
		}
}

@media screen and (max-width: 375px) {
	/* --- organizar --- */
		#organizar .descricao{
			margin-bottom: 10px;
			width: 100%;
		}
		#organizar select{
			margin-right: 10px;
			margin-bottom: 10px;
		}
		#organizar select:nth-child(2),
		#organizar select:nth-child(3){
			width: 45%;
		}
		#organizar select:nth-child(4){
			width: 45%;
		}
		#organizar select:nth-child(5){
			width: 45%;
		}
}