/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- live --- */
	#live{
		height: 46px;
		padding-top: 8px;
		font-size: 17px;
	}
	#live a{
		width: 143px;
		height: 28px;
		border: 1px solid var(--white);
		background-color: var(--white);
		color: var(--new-purple);
		border-radius: 50px;
		padding-top: 1px;
		transition: .3s;
	}
	#live a:hover{
		background-color: transparent;
		color: var(--white);
		transition: .3s;
	}

/* --- carousel --- */
	#carousel{
		/*margin-bottom: 50px;*/
	}
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		opacity: 1;
	}
	#carousel .carousel-item{
		height: 768px;
	}
	#carousel .bg-gray{
		position: relative;
		background: #f6f6f6;
		height: 518px;
	}
	#carousel .carousel-caption{
	    right: 0%;
	    left: 0%;
	    max-width: 1077px!important;
	    margin-left: auto;
	    margin-right: auto;
	}
	#carousel .carousel-item p{
		font-size: 270px;
		line-height: 215px;
		margin-top: 0px;
		margin-left: -190px;
		position: absolute;
		z-index: -1;
	}
	#carousel .carousel-item h1{
		font-size: 98px;
		line-height: 77px;
		margin-bottom: 40px;

	}
	#carousel .carousel-item a.btn{
		width: 232px;
		height: 60px;
		font-size: 21px;
		padding-top: 12px;
	}

	#carousel .carousel-item picture{
		position: absolute;
    	top: -75px;
    	right: 16.4%;
	}
	#carousel .carousel-item img.image{
		position: absolute;
		top: 115px;
    	right: 40px;
    	z-index: 10;
	}

/* --- carousel indicators --- */
	#carousel .carousel-indicators {
	    left: 150px;
	    right: initial;
	    bottom: 60px;
	}
	#carousel .carousel-indicators li{
		margin-left: 9px;
		margin-right: 9px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: var(--new-gray);
		transition: .3s;
	}
	#carousel .carousel-indicators li.active{
		margin-top: -12px;
		background-color: var(--new-purple);
		transition: .3s;
	}

/* --- carousel arrows --- */
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		bottom: 120px;
	}
	#carousel .carousel-control-prev img{
	    margin-left: -50px;
	}
	#carousel .carousel-control-next img{
		margin-right: -150px;
	}

/* --- sobre --- */
	#sobre{
		margin-top: -40px;
	}
	#sobre img{
		margin-left: 35px;
	}
	#sobre h2{
		font-size: 50px;
		line-height: 48px;
		margin-top: -25px;
		margin-bottom: 50px;
	}
	#sobre p.text-gray{
		font-size: 16px;
		margin-bottom: 40px;
		line-height: 25px;
	}
	#sobre a{
		font-size: 13px;
		letter-spacing: 4px;
	}
	#sobre a:hover{
		color: var(--new-purple);
	}
	#sobre a hr{
		max-width: 105px;
		margin-left: 0!important;
	}

/* --- numeros --- */
	#numeros{
		background-color: #F6F6F6;
		height: 365px;
		position: relative;
	}
	#numeros .d-flex{
		margin-left: 80px;
	}
	#numeros .conteudo{
		margin-left: 18px;
		margin-right: 18px;
		text-align: center;
		margin-top: 60px;
	}
	#numeros .bg-white{
		width: 161px;
		height: 161px;
		border-radius: 50%;
	}
	#numeros .bg-white p{
		font-size: 58px;
		padding-top: 35px;
	}
	#numeros p.text-gray-dark{
		font-size: 18px;
		margin-top: 20px;
	}

	#numeros img.img-ondas{
		position: relative;
		top: -100px;
		margin-left: 130px;
	}
	#numeros img.img-patins{
		position: absolute;
		top: -195px;
		left: -40px;
		z-index: 2;
	}

/* --- valores --- */
	#valores{
		overflow: hidden;
		position: relative;
		margin-top: -45px;
	}
	#valores .bg-purple{
		height: 489px;
		padding-top: 80px;
		max-width: 1300px;
		margin-left: auto;
	}
	#valores p.text-purple-dark{
		font-size: 225px;
		position: absolute;
		left: -260px;
		opacity: .36;
		margin-top: -50px;
	}
	#valores p.text-white{
		font-size: 54px;
		line-height: 65px;
		position: relative;
		z-index: 1;
		margin-top: 45px;
		margin-left: -110px;
	}
	#valores img{
		position: absolute;
		top: 40px;
		left: 0px;
		z-index: 2;
	}

/* --- como funciona --- */
	#como-funciona{
		padding-top: 100px;
		padding-bottom: 50px;
	}
	#como-funciona .text-center p.font-black-italic{
		font-size: 221px;
		margin-bottom: 0;
		color: #F6F6F6!important;
		line-height: .5;
	}
	#como-funciona h2{
		font-size: 50px;
		position: relative;
		top: -125px;
		line-height: 50px;
	}
	#como-funciona .row.align-items-center{
		margin-top: -50px;
	}
	#como-funciona .row p{
		font-size: 16px;
		margin-bottom: 20px;
	}
	#como-funciona .row a{
		font-size: 13px;
		letter-spacing: 4px;
	}
	#como-funciona .row a:hover{
		color: var(--new-purple);
	}
	#como-funciona .row a hr{
		max-width: 105px;
		margin-left: 0!important;
	}

	#como-funciona .slider-nav .box{
		width: 230px;
		border: 1px solid var(--new-gray);
		border-radius: 10px;
		padding: 10px 15px 15px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#como-funciona .slider-nav .box h3{
		font-size: 18px;
	}
	#como-funciona .slider-nav .box h3.text-blue{
		color: #0413E4;
	}
	#como-funciona .slider-nav .box h3.text-pink{
		color: #E91196;
	}
	#como-funciona .slider-nav .box p.text-gray{
		font-size: 14px;
		line-height: 18px;
	}
	#como-funciona .slider-nav .box a.link{
		font-size: 11px;
		letter-spacing: 2px;
		color: #3F3F3F;
		margin-bottom: 5px;
	}
	#como-funciona .slider-nav .box hr{
		width: 80px!important;
		margin-left: 0!important;
	}
	#como-funciona .slider-nav .box:hover h3,
	#como-funciona .slider-nav .box:hover p.link{
		color: var(--new-purple);
	}

	#como-funciona .carousel-fotos-produto.slider{
		background-color: white;
		margin-bottom: 20px;
	}
	#como-funciona .carousel-fotos-produto img{
		display: block;
		margin: auto;
	}
	#como-funciona .slider-nav div .box{
		opacity: .3;
		margin-bottom: 10px;
	}
	#como-funciona .slick-slide.slick-current.slick-active div .box{
		opacity: 1;
		border: 0;
		box-shadow: 0px 5px 10px var(--new-gray);
	}

	#como-funciona .slider-nav .btn-slick-carousel-left,
	#como-funciona .slider-nav .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 42%;
		cursor: pointer;
		max-height: 40px;
	}
	#como-funciona .slider-nav .btn-slick-carousel-left{
		left: 2%;
	}
	#como-funciona .slider-nav .btn-slick-carousel-right{
		right: 2%;
	}

/* --- jogos acontecendo --- */
	#jogos-acontecendo{
		padding-top: 80px;
		padding-bottom: 80px;
		overflow: hidden;
		position: relative;
		background-color: #F6F6F6;
	}
	#jogos-acontecendo img.img-atleta{
		position: absolute;
		left: -15%;
		top: -70px;
	}
	#jogos-acontecendo .text-center p.text-white{
		font-size: 221px;
		margin-bottom: 0;
		line-height: .5;
	}
	#jogos-acontecendo h2{
		font-size: 50px;
		position: relative;
		top: -100px;
		line-height: 50px;
	}
	#jogos-acontecendo .carousel-jogos-acontecendo{
		margin-top: -50px;
		width: 1040px;
		margin-left: 30px;
	}
	#jogos-acontecendo .box{
		max-width: 329px;
		width: 100%;
		height: 360px;
		border-radius: 17px;
		background-color: white;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 30px;
	}
	#jogos-acontecendo .box .data{
		width: 135px;
		height: 41px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		/*display: block;*/
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	#jogos-acontecendo .box .data p{
		font-size: 16px;
		padding-top: 18px;
	}
	#jogos-acontecendo .box .conteudo p.font-semibold{
		font-size: 16px;
		color: #707070;
		margin-bottom: 15px;
	}
	#jogos-acontecendo .box .conteudo img.time{
		max-height: 75px;
		height: 100%;	
	}
	#jogos-acontecendo .box span.d-inline{
		font-size: 33px;	
	}
	#jogos-acontecendo .box .placar{
		font-size: 33px;
		margin-top: 15px;
		color: #707070;
		margin-bottom: 5px;
	}
	#jogos-acontecendo .box p.font-regular{
		font-size: 12px;
		margin-bottom: 10px;
	}
	#jogos-acontecendo .box a.btn-red{
		width: 142px;
		height: 34px;
		border-radius: 50px;
		font-size: 19px;
		padding-top: 3px;
		background-color: red;
		border: 1px solid red;
	}
	#jogos-acontecendo .box a.btn-red:hover{
		background-color: transparent;
	}

	#jogos-acontecendo .btn-slick-carousel-up,
	#jogos-acontecendo .btn-slick-carousel-down{
		position: absolute;
		left: -40px;
		cursor: pointer;
		width: 25px;
	}
	#jogos-acontecendo .btn-slick-carousel-up{
		top: 43%;
	}
	#jogos-acontecendo .btn-slick-carousel-down{
		bottom: 43%;
	}
	
/* --- ultimos jogos --- */
	#ultimos-jogos{
		padding-top: 50px;
		padding-bottom: 50px;
		overflow: hidden;
	}
	#ultimos-jogos h2{
		font-size: 50px;
		margin-bottom: 70px;
	}
	#ultimos-jogos .slick-track{
		padding-top: 20px;
	}
	#ultimos-jogos .box{
		max-width: 273px;
		width: 100%;
		height: 310px;
		border-radius: 10px;
		border: 1px solid rgba(112, 112, 112, 0.16);
		transition: .3s;
	}
	#ultimos-jogos .box .conteudo{
		padding-top: 40px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(112, 112, 112, 0.3);
	}	
	#ultimos-jogos .box .conteudo p.font-semibold{
		font-size: 16px;
		color: #707070;
		margin-bottom: 15px!important;
	}
	#ultimos-jogos .box .conteudo img.time{
		max-height: 75px;
		height: 100%;	
	}
	#ultimos-jogos .box span.d-inline{
		font-size: 33px;	
	}
	#ultimos-jogos .box .placar{
		font-size: 33px;
		margin-top: 15px;
		color: #707070;
		margin-bottom: 5px;
	}
	#ultimos-jogos .box .data{
		text-align: center;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	#ultimos-jogos .box .data p{
		font-size: 16px;
	}

	#ultimos-jogos .box:hover{
		transform: translate(0,-20px);
		box-shadow: 0 .5rem .6rem rgba(0,0,0,.25);
		transition: .3s;
	}

	#ultimos-jogos .btn-slick-carousel-left,
	#ultimos-jogos .btn-slick-carousel-right{
		position: absolute;
		top: -50px;
		cursor: pointer;
		width: 16px;
	}
	#ultimos-jogos .btn-slick-carousel-left{
		left: 85%;
	}
	#ultimos-jogos .btn-slick-carousel-right{
		right: 11%;
	}

/* --- poder --- */
	#poder{
		background: url(../imagens/bg/bg-poder.png)no-repeat center center;
		background-size: cover;
		height: 327px;
		margin-top: 50px;
		margin-bottom: 50px;
		border: 1px solid transparent;
	}
	#poder img.mr-auto{
		margin-top: -55px;
		margin-left: 140px;
		position: absolute;
		z-index: -1;
	}
	#poder img.ml-auto{
		margin-top: -70px;
		margin-right: 50px;
		position: absolute;
		right: 0;
		z-index: -1;
	}
	#poder p.text-white{
		font-size: 96px;
		margin-top: 90px;
	}

/* --- blog --- */
	#blog{
		padding-top: 5px;
		margin-bottom: -240px;
		overflow: hidden;
	}
	#blog h2{
		font-size: 60px;
		margin-bottom: 55px;
	}
	#blog a.box{
		max-width: 326px;
		width: 100%;
		margin-left: 15px;
		margin-right: 15px;
	}
	#blog .box img{
		border-radius: 9px;
		margin-bottom: 20px;
	}
	#blog .box p.categoria{
		font-size: 11px;
		letter-spacing: 4px;
		color: #B8B8B8;
		margin-bottom: 15px;
	}
	#blog .box h3{
		font-size: 23px;
		color: #3F3F3F;
		margin-bottom: 10px;
	}
	#blog .box p.descricao{
		font-size: 16px;
		margin-bottom: 20px!important;
	}
	#blog .box p.link{
		font-size: 13px;
		letter-spacing: 4px;
		color: #3F3F3F;
		margin-bottom: 5px;
	}
	#blog .box hr{
		width: 105px!important;
		margin-left: 0!important;
	}
	#blog .box:hover h3,
	#blog .box:hover p.link{
		color: var(--new-purple);
	}
	#blog p.garra{
		font-size: 510px;
		color: #F6F6F6;
		line-height: .7;
		position: relative;
		top: -240px;
		margin-left: -310px;
		z-index: -1;
		margin-bottom: 0;
	}

@media screen and (max-width: 1660px) {
	/* --- carousel --- */
		#carousel .carousel-item picture{
	    	right: 11%;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: 50px;
		}

	/* --- valores --- */
		#valores .bg-purple{
			max-width: 1200px;
		}
		#valores p.text-purple-dark{
			left: -220px;
			margin-top: -50px;
		}
		#valores p.text-white{
			margin-left: -50px;
		}
		#valores img{
			left: -150px;
		}

	/* --- jogos acontecendo --- */
		#jogos-acontecendo img.img-atleta{
			left: -25%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- carousel --- */
		#carousel .carousel-item picture{
	    	right: 2.5%;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: -50px;
		}

	/* --- valores --- */
		#valores .bg-purple{
			max-width: 1030px;
		}
		#valores p.text-purple-dark{
			left: -170px;
			margin-top: -50px;
		}
		#valores p.text-white{
			margin-left: -20px;
		}
		#valores img{
			left: -290px;
		}

	/* --- jogos acontecendo --- */
		#jogos-acontecendo img.img-atleta{
			left: -40%;
		}
}

@media screen and (max-width: 1200px) {
	/* --- carousel --- */
		#carousel .carousel-caption{
		    right: 0%;
		    left: 5%;
		}
		#carousel .carousel-item h1{
			font-size: 90px;
		}
		#carousel .carousel-item a.btn{
			font-size: 21px;
		}
		#carousel .carousel-item picture{
	    	right: -20%;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: -100px;
		}

	/* --- carousel arrows --- */
		#carousel .carousel-control-next,
		#carousel .carousel-control-prev{
			display: none;
		}

	/* --- numeros --- */
		#numeros img.img-patins{
			max-width: 100%;
			top: -150px;
			left: -20px;
		}
		#numeros .bg-white{
			width: 150px;
			height: 150px;
		}

	/* --- valores --- */
		#valores .bg-purple{
			height: 470px;
			padding-top: 50px;
		}
		#valores p.text-purple-dark{
			display: none;
		}
		#valores p.text-white{
			margin-top: 45px;
			margin-left: 0px;
		}
		#valores img{
			position: relative;
			top: 0px;
			left: 0px;
			width: 100%;
		}

	/* --- como funciona --- */
		#como-funciona h2{
			top: -110px;
		}
		#como-funciona .col-lg-5{
			padding-left: 15px!important;
			padding-right: 15px!important;
		}

	/* --- jogos acontecendo --- */
		#jogos-acontecendo img.img-atleta{
			left: -70%;
		}
		#jogos-acontecendo .carousel-jogos-acontecendo{
			width: 950px;
			margin-left: 60px;
		}

	/* --- ultimos jogos --- */
		#ultimos-jogos .btn-slick-carousel-left{
			left: 83%;
		}

	/* --- poder --- */
		#poder{
			height: 327px;
		}
		#poder img.mr-auto{
			margin-top: -55px;
			margin-left: 0px;
		}
		#poder img.ml-auto{
			margin-top: -70px;
			margin-right: 0px;
		}

	/* --- blog --- */
		#blog a.box{
			margin-bottom: 30px;
		}
}

@media screen and (max-width: 992px) {
	/* --- carousel --- */
		#carousel .carousel-item{
			height: 1200px;
		}
		#carousel .bg-gray{
			height: 780px;
		}
		#carousel .carousel-caption{
		    right: 15%;
		    left: 15%;
		}
		#carousel .carousel-item p{
			font-size: 200px;
			margin-left: -50px;
		}
		#carousel .carousel-item .row{
			margin-top: 50px;
		}
		#carousel .carousel-item h1{
			font-size: 80px;
		}

		#carousel .carousel-item picture{
			position: initial;
	    	top: 5px;
	    	right: 16.4%;
		}
		#carousel .carousel-item img.image{
			position: relative;
			top: -270px;
	    	right: 60px;
		}

	/* --- sobre --- */
		#sobre{
			margin-bottom: 80px;
		}
	
	/* --- numeros --- */
		#numeros{
			height: auto;
		}
		#numeros .d-flex{
			margin-left: 0px;
		}
		#numeros .conteudo{
			margin-left: 18px;
			margin-right: 18px;
			margin-top: 60px;
		}
		#numeros .bg-white{
			width: 161px;
			height: 161px;
		}
		#numeros .bg-white p{
			font-size: 58px;
			padding-top: 35px;
		}
		#numeros p.text-gray-dark{
			font-size: 18px;
			margin-top: 20px;
		}

		#numeros img.img-ondas{
			display: none;
		}
		#numeros img.img-patins{
			max-width: 100%;
			position: relative;
			top: 80px;
			left: 0px;
		}

	/* --- valores --- */
		#valores{
			margin-top: -200px;
		}
		#valores .bg-purple{
			height: 580px;
			padding-top: 280px;
		}
		#valores p.text-white{
			font-size: 38px;
			line-height: 45px;
		}
		#valores img{
			width: 100%;
		}

	/* --- como funciona --- */
		#como-funciona .text-center p.font-black-italic{
			font-size: 150px;
		}
		#como-funciona h2{
			top: -80px;
		}
		#como-funciona .texto{
			margin-top: 30px;
		}

	/* --- jogos acontecendo --- */
		#jogos-acontecendo{
			height: 1150px;
		}
		#jogos-acontecendo img.img-atleta{
			position: absolute;
			left: -30%;
			top: 450px;
		}
		#jogos-acontecendo .text-center p.text-white{
			margin-left: -50px;
		}
		#jogos-acontecendo .carousel-jogos-acontecendo{
			margin-top: -40px;
			max-width: 1040px;
			width: 100%;
			margin-left: 40px;
		}
		#jogos-acontecendo .box{
			max-width: 329px;
		}
		#jogos-acontecendo .box .data{
			width: 135px;
			height: 41px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			text-align: center;
		}
		#jogos-acontecendo .box .data p{
			margin-left: 0px;
		}
		
		#jogos-acontecendo .btn-slick-carousel-up,
		#jogos-acontecendo .btn-slick-carousel-down{
			left: -40px;
		}

	/* --- ultimos jogos --- */
		#ultimos-jogos .btn-slick-carousel-left{
			left: 80%;
		}

	/* --- poder --- */
		#poder{
			height: 327px;
		}
		#poder img.mr-auto{
			margin-top: -40px;
			margin-left: 0px;
			max-width: 40%;
		}
		#poder img.ml-auto{
			margin-top: 10px;
			margin-right: 0px;
			max-width: 40%;
		}
		#poder p.text-white{
			font-size: 80px;
		}
}

@media screen and (max-width: 480px) {
	/* --- carousel --- */
		#carousel .carousel-item{
			height: 900px;
		}
		#carousel .bg-gray{
			height: 600px;
		}
		#carousel .carousel-caption{
		    right: 10%;
		    left: 10%;
		}
		#carousel .carousel-item p{
			font-size: 160px;
			line-height: 140px;
			margin-left: -50px;
		}
		#carousel .carousel-item .row{
			margin-top: 80px;
		}
		#carousel .carousel-item h1{
			font-size: 60px;
			line-height: 55px;
			margin-bottom: 20px;
		}
		#carousel .carousel-item a.btn{
			width: 145px;
			height: 38px;
			font-size: 13px;
			padding-top: 8px;
		}

		#carousel .carousel-item img.image{
			position: relative;
			top: -200px;
	    	right: 0px;
	    	max-width: 100%;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: -40px;
		}

	/* --- sobre --- */
		#sobre img{
			margin-left: 0px;
			max-width: 100%;
			padding-left: 20px;
		}
		#sobre h2{
			font-size: 40px;
			line-height: 45px;
			margin-top: -25px;
			margin-bottom: 40px;
		}
		#sobre p.text-gray{
			font-size: 16px;
		}

	/* --- numeros --- */
		#numeros .d-flex{
			margin-left: 0px;
		}
		#numeros .conteudo{
			margin-left: 18px;
			margin-right: 18px;
			margin-top: 60px;
		}
		#numeros .bg-white{
			width: 156px;
			height: 156px;
		}
		#numeros .bg-white p{
			font-size: 56px;
			padding-top: 40px;
		}
		#numeros p.text-gray-dark{
			font-size: 17px;
		}
		#numeros img.img-patins{
			position: relative;
			top: 50px;
			left: -20px;
		}

	/* --- valores --- */
		#valores{
			margin-top: -120px;
		}
		#valores .bg-purple{
			height: 430px;
			padding-top: 160px;
		}
		#valores p.text-white{
			font-size: 38px;
			line-height: 45px;
		}
		#valores img{
			width: 100%;
		}

	/* --- como funciona --- */
		#como-funciona{
			overflow: hidden;
		}
		#como-funciona .text-center p.font-black-italic{
			font-size: 220px;
			margin-left: -30px;
		}
		#como-funciona h2{
			font-size: 40px;
			top: -110px;
			line-height: 45px;
		}

		#como-funciona .slider-nav .box{
			width: 235px;
			/*padding: 10px 15px 15px;*/
			/*margin-left: 10px;*/
			/*margin-right: 10px;*/
		}
		#como-funciona .slider-nav .box h3{
			font-size: 17px;
		}
		#como-funciona .slider-nav .box p.text-gray{
			font-size: 13px;
		}
		#como-funciona .slider-nav .box a.link{
			font-size: 10px;
		}
		#como-funciona .slider-nav .box hr{
			width: 75px!important;
		}
		
	/* --- jogos acontecendo --- */
		#jogos-acontecendo{
			height: 950px;
		}
		#jogos-acontecendo img.img-atleta{
			position: absolute;
			left: -30%;
			top: 530px;
		}
		#jogos-acontecendo h2{
			font-size: 40px;
			top: -110px;
			line-height: 40px;
		}
		#jogos-acontecendo .box .data{
			width: 135px;
			height: 41px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			text-align: center;
		}
		#jogos-acontecendo .box .data p{
			margin-left: 0px;
		}

		#jogos-acontecendo .btn-slick-carousel-up,
		#jogos-acontecendo .btn-slick-carousel-down{
			left: -40px;
		}

	/* --- ultimos jogos --- */
		#ultimos-jogos h2{
			font-size: 40px;
		}
		#ultimos-jogos .slick-slide .box{
			display: block!important;
			margin-left: auto;
			margin-right: auto;
		}
		#ultimos-jogos .btn-slick-carousel-left{
			left: 80%;
		}
		#ultimos-jogos .btn-slick-carousel-right{
			right: 0%;
		}

	/* --- poder --- */
		#poder{
			height: 300px;
		}
		#poder img.mr-auto{
			margin-top: -20px;
			margin-left: 0px;
			max-width: 40%;
		}
		#poder img.ml-auto{
			margin-top: 65px;
			margin-right: 0px;
			max-width: 40%;
		}
		#poder p.text-white{
			margin-top: 110px;
			font-size: 43px;
		}

	/* --- blog --- */
		#blog{
			margin-bottom: 50px;
		}
		#blog h2{
			font-size: 40px;
			margin-bottom: 40px;
		}
		#blog a.box{
			margin-bottom: 30px;
		}
		#blog p.garra{
			display: none;
		}
}

@media screen and (max-width: 375px) {
	/* --- carousel --- */
		#carousel .carousel-item p{
			font-size: 130px;
			line-height: 120px;
			margin-left: -50px;
		}
		#carousel .carousel-item h1{
			font-size: 45px;
			line-height: 40px;
			margin-top: 20px;
		}

	/* --- sobre --- */
		#sobre img{
			margin-left: 0px;
			padding-left: 20px;
		}

	/* --- valores --- */
		#valores{
			margin-top: -90px;
		}
		#valores .bg-purple{
			padding-top: 140px;
			height: 400px;
		}
		#valores p.text-white{
			font-size: 32px;
		}

	/* --- como funciona --- */
		#como-funciona h2{
			font-size: 35px;
			line-height: 40px;
		}

	/* --- jogos acontecendo --- */
		#jogos-acontecendo{
			height: 920px;
		}
		#jogos-acontecendo h2{
			font-size: 38px;
		}
		#jogos-acontecendo .box{
			width: 260px!important;
			padding-left: 30px;
			padding-right: 30px;
		}

		#jogos-acontecendo .btn-slick-carousel-up,
		#jogos-acontecendo .btn-slick-carousel-down{
			left: -30px;
			width: 20px;
		}
		#jogos-acontecendo .btn-slick-carousel-up{
			top: 44%;
		}
		#jogos-acontecendo .btn-slick-carousel-down{
			bottom: 44%;
		}

	/* --- ultimos-jogos --- */
		#ultimos-jogos .slick-slide{
			text-align: center;
		}

	/* --- poder --- */
		#poder p.text-white{
			margin-top: 130px;
			font-size: 35px;
		}
}