/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-sobre.jpg)no-repeat center center;
		background-size: cover;
		height: 347px;
		overflow: hidden;
	}
	#banner h1{
		font-size: 278px;
		color: #c412dc;
		opacity: .6;
		line-height: 1;
		text-align: right;
		position: relative;
		top: 110px;
		right: 0px;
	}
	#banner .bg-white{
		width: 330px;
		height: 168px;
		border-radius: 15px;
		position: relative;
		top: -45px;
		left: 440px;
	}
	#banner p{
		font-size: 60px;
		color: var(--new-purple);
		line-height: 1.8;
		text-align: center;
	}

/* --- sobre --- */
	#sobre{
		padding-top: 170px;
		padding-bottom: 50px;
		position: relative;
	}
	#sobre img.bolinhas{
		position: absolute;
		margin-top: -70px;
		margin-left: -100px;
	}
	#sobre img.sobre{
		margin-left: -20px;
	}
	#sobre .descricao{
		padding-left: 70px;
	}
	#sobre h2{
		font-size: 50px;
		margin-bottom: 20px;
	}
	#sobre p.text-gray{
		font-size: 15px;
		line-height: 20px;
	}
	#sobre .conteudo{
		max-height: 360px;
		overflow: auto;
		padding-right: 5px;
	}
	#sobre .conteudo::-webkit-scrollbar-track-piece {
	  background-color: white;
	  border: 1px solid var(--new-purple);
	  border-radius: 20px;
	}
	#sobre .conteudo::-webkit-scrollbar-thumb:vertical {
	  height: 5px;
	  background-color: var(--new-purple);
	  border-radius: 20px;
	}

/* --- objetivo --- */
	#objetivo{
		padding-top: 50px;
		position: relative;
	}
	#objetivo .itens{
		background-size: cover;
		height: 568px;
		position: relative;
		transition: .5s;	
	}
	
	#objetivo .item-01{
		background: url(../imagens/img-objetivo-01.png) no-repeat center center;
	}
	#objetivo .item-02{
		background: url(../imagens/img-objetivo-02.png)no-repeat center center;
	}
	#objetivo .item-03{
		background: url(../imagens/img-objetivo-03.png)no-repeat center center;
	}
	#objetivo .item-04{
		background: url(../imagens/img-objetivo-04.png)no-repeat center center;
	}
	#objetivo .itens:hover .layer{
	    background-color: rgb(103 14 115 / 88%);
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;

	    padding-top: 100px;
	    padding-left: 40px;
	    padding-right: 40px;
	    padding-bottom: 30px;
	}
	#objetivo .itens:hover .layer{
		overflow: auto;
	}
	#objetivo .itens:hover .layer::-webkit-scrollbar {
	 	display: none;
	}
	#objetivo .itens .conteudo{
		opacity: 0;
		transition: .5s;
	}
	#objetivo .itens:hover .conteudo{
		opacity: 1;
		transition: .5s;
	}
	
	#objetivo .numero{
		overflow: hidden;
	    position: absolute;
	    width: 100%;
	    height: 155px;
	    top: 0;
	    right: 0;
	}

	#objetivo p.font-black-italic{
		font-size: 279px;
		position: absolute;
		right: 5px;
		top: -75px;
	}
	#objetivo h2{
		font-size: 40px;
		margin-bottom: 40px;
		position: relative;
		z-index: 1;
	}
	#objetivo p.text-white{
		font-size: 17px;
		line-height: 21px;
		max-height: 255px;
		overflow: auto;
		padding-right: 5px;
		position: relative;
		z-index: 1;
		margin-bottom: 35px;
	}
	#objetivo p.text-white::-webkit-scrollbar-track-piece {
	  background-color: transparent;
	  border: 1px solid white;
	  border-radius: 20px;
	}
	#objetivo p.text-white::-webkit-scrollbar-thumb:vertical {
	  height: 5px;
	  background-color: white;
	  border-radius: 20px;
	}
	#objetivo a.font-bold{
		font-size: 13px;
		letter-spacing: 4px;
	}
	#objetivo a.font-bold hr{
		max-width: 105px;
		margin-left: 0!important;
	}
	#objetivo a.font-bold:hover{
		color: var(--new-gray);
	}
	#objetivo a.font-bold:hover hr{
		background-color: var(--new-gray);
	}

/* --- esporte --- */
	#esporte{
		overflow: hidden;
		position: relative;
	}
	#esporte div.bg-purple{
		max-width: 80%;
		height: 568px;
	}
	#esporte .bg-purple p{
		font-size: 341px;
		color: #3F0847;
		line-height: 230px;
		margin-left: -10px;
		padding-top: 50px;
		opacity: .9;
		filter: brightness(2);
	}
	#esporte img.atleta{
		position: absolute;
		top: 32px;
		left: 530px;
	}
	#esporte .d-flex{
		margin-top: 150px;
		margin-left: 20px;
		margin-right: 250px;
	}
	#esporte h2{
		font-size: 50px;
		margin-bottom: 35px;
	}
	#esporte p{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 45px;
	}
	#esporte a.font-bold{
		font-size: 13px;
		letter-spacing: 4px;
	}
	#esporte a.font-bold hr{
		max-width: 105px;
		margin-left: 0!important;
	}
	#esporte a.font-bold:hover{
		color: var(--new-purple);
	}
	#esporte a.font-bold:hover hr{
		background-color: var(--new-purple);
	}
	#esporte img.bolinhas{
		position: absolute;
		top: 55px;
		right: 70px;
	}

/* --- galeria --- */
	#galeria{
		padding-top: 100px;
		padding-bottom: 90px;
	}
	#galeria h2{
		font-size: 50px;
		margin-bottom: 60px;
	}
	#galeria .container{
		max-width: 1100px!important;
	}
	#galeria .d-flex{
		margin-top: 40px;
	}
	#galeria .d-flex .box{
	    position: relative;
	    overflow: hidden;
	    margin-bottom: 20px;
	}
	#galeria .d-flex .box img.d-block{
		max-width: 330px;
		width: 100%;
		height: 320px;
		object-fit: cover;
		transition: .5s;
		border-radius: 10px;
	}

	#galeria .d-flex .box .wrapper div{
		background-color: rgb(103 14 115 / 50%);
		width: 100%;
		height: 100%;
		border-radius: 10px;
		transition: .5s;
	    
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
		opacity: 0;
	}
	#galeria .d-flex .box .thumb-info{
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		opacity: 0;
		transition: .5s;
	}
	#galeria .d-flex .box .thumb-info img{
		max-width: 50px;
	}
	#galeria .d-flex .box .wrapper:hover div,
	#galeria .d-flex a:hover .thumb-info{
		opacity: 1;	
	}

	.ekko-lightbox .modal-content {
	    border-radius: 0rem!important;
	}
	.ekko-lightbox .modal-body{
	    padding: .5rem!important;
	}

/* --- modal ekko-lightbox --- */
	.ekko-lightbox.modal .modal-header{
		padding: 0;
		display: block!important;
	}
	.ekko-lightbox.modal .modal-title{
		display: none;
	}

	.ekko-lightbox.modal .close{
		z-index: 999;
		position: absolute;
		padding: 0px;
		top: -45px;
		left: 0px;
		right: 0px;
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
		transform: scale(0.8);
	}
	.close:not(:disabled):not(.disabled):focus,
	.close:not(:disabled):not(.disabled):hover{
	    text-decoration: none;
	    opacity: 1;
	}
	.ekko-lightbox.modal .modal-content {
	    border-radius: 10px!important;
	}
	.ekko-lightbox.modal .modal-body {
		border-radius: 10px!important;
		padding: 0px!important;
	    /*padding-bottom: 50px!important;*/
	}
	.ekko-lightbox-container{
		margin-top: -2px;
	}
	.ekko-lightbox.modal .modal-footer{
		display: block;
		border: 0;
		padding: 10px 0;
	}
	.ekko-lightbox.modal .ekko-lightbox-nav-overlay {
	    position: absolute;
	    top: initial;
	    bottom: -40px;
	    left: 0;
	    right: 0;
	    border-radius: 50px;
	    background: white;
	    width: 200px;
	    height: 76px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.ekko-lightbox.modal .ekko-lightbox-nav-overlay a{
		opacity: 1;
	}
	.ekko-lightbox.modal .ekko-lightbox-nav-overlay a:first-child span{
		right: 65%;
	}
	.ekko-lightbox.modal .ekko-lightbox-nav-overlay a:nth-child(2) span{
		left: 65%;
	}
	.ekko-lightbox-nav-overlay a img{
		transform: scale(.3);
	}
	.ekko-lightbox-nav-overlay a:nth-child(1) img{
		margin-right: 30px;
	}
	.ekko-lightbox-nav-overlay a:nth-child(2) img{
		margin-left: 30px;
	}
	.modal-content span{
		position: absolute;
		padding-top: 0px;
		padding-left: 2px;
		padding-right: 2px;
		text-align: center!important;
		color: var(--new-purple);
		font-size: 45px;
		bottom: -32px;
		z-index: 1;
	}
	.modal-content span.item-1{
		margin-left: 35%;
	}
	.modal-content span.item-2{
		margin-left: 45%;
	}
	.modal-content span.item-3{
		margin-left: 56%;
	}

@media screen and (max-width: 1660px) {
	/* --- banner --- */
		#banner h1{
			right: 20px;
		}
		#banner h1{
			right: -130px;
		}
		#banner .bg-white{
			left: 300px;
		}

	/* --- esporte --- */
		#esporte div.bg-purple{
			max-width: 81%;
		}
		#esporte .bg-purple p{
			margin-left: -120px;
		}
		#esporte img.atleta{
			left: 430px;
		}
		#esporte .d-flex{
			margin-right: 140px;
		}
		#esporte img.bolinhas{
			top: 55px;
			right: -50px;
		}

	/* --- modal ekko-lightbox --- */
		.modal-content span.item-1{
			margin-left: 35%;
		}
		.modal-content span.item-2{
			margin-left: 46%;
		}
		.modal-content span.item-3{
			margin-left: 57%;
		}
}

@media screen and (max-width: 1440px) {
	/* --- banner --- */
		#banner h1{
			right: -280px;
		}
		#banner .bg-white{
			left: 160px;
		}

	/* --- objetivo --- */
		#objetivo .itens{
			height: 568px;
		}
		#objetivo .itens:hover .layer{
		    padding-top: 60px;
		    padding-left: 40px;
		    padding-right: 40px;
		}
		#objetivo p.font-black-italic{
			font-size: 200px;
		}

		#objetivo h2{
			font-size: 40px;
			margin-bottom: 40px;
		}
		#objetivo p.text-white{
			font-size: 14px;
			line-height: 21px;
			max-height: 315px;
			margin-bottom: 35px;
		}
		#objetivo a.font-bold{
			font-size: 12px;
			letter-spacing: 4px;
		}
		#objetivo a.font-bold hr{
			max-width: 105px;
			margin-left: 0!important;
		}

	/* --- esporte --- */
		#esporte div.bg-purple{
			max-width: 72%;
		}
		#esporte .bg-purple p{
			margin-left: -280px;
		}
		#esporte img.atleta{
			left: 245px;
		}
		#esporte .d-flex{
			margin-right: 0px;
		}
		#esporte img.bolinhas{
			top: 55px;
			right: -210px;
		}

	/* --- modal ekko-lightbox --- */
		.modal-content span.item-1{
			margin-left: 36%;
		}
		.modal-content span.item-2{
			margin-left: 45.5%;
		}
		.modal-content span.item-3{
			margin-left: 55%;
		}
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner .bg-white{
			left: 10px;
		}

	/* --- sobre --- */
		#sobre img.sobre{
			margin-left: 0px;
		}

	/* --- objetivo --- */
		#objetivo .itens:hover .layer{
		    padding-top: 50px;
		    padding-left: 20px;
		    padding-right: 20px;
		}
		#objetivo p.font-black-italic{
			font-size: 160px;
			top: -50px;
		}
		#objetivo h2{
			font-size: 40px;
			margin-bottom: 40px;
		}
		#objetivo p.text-white{
			font-size: 12px;
			line-height: 18px;
			max-height: 305px;
		}
		#objetivo a.font-bold{
			font-size: 12px;
			letter-spacing: 2px;
		}
		#objetivo a.font-bold hr{
			max-width: 105px;
			margin-left: 0!important;
		}

	/* --- esporte --- */
		#esporte div.bg-purple{
			max-width: 90%;
		}
		#esporte img.atleta{
			position: absolute;
			top: 32px;
			left: 120px;
		}
		#esporte .d-flex{
			margin-top: 100px;
			margin-left: 50px;
			margin-right: 20px;
		}
		#esporte h2{
			font-size: 50px;
			margin-bottom: 35px;
		}
		#esporte p{
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 45px;
		}
		#esporte img.bolinhas{
			position: absolute;
			top: -110px;
			right: -200px;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner h1{
			font-size: 154px;
			top: initial;
			bottom: -212px;
			right: -100px;
		}
		#banner .bg-white{
			width: 224px;
			height: 97px;
			top: initial;
			bottom: -110px;
			left: 10px;
			padding-top: 5px;
		}
		#banner p{
			font-size: 40px;
		}

	/* --- sobre --- */
		#sobre{
			padding-bottom: 0px;
		}
		#sobre img.sobre{
			margin-left: 0px;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-bottom: 40px;
		}
		#sobre .descricao{
			padding-left: 15px;
		}
	
	/* --- objetivo --- */
		#objetivo .itens{
			height: 400px;
		}
		#objetivo .itens:hover .layer{
		    padding-top: 50px;
		    padding-left: 20px;
		    padding-right: 20px;
		}
		#objetivo p.font-black-italic{
			font-size: 160px;
			top: -50px;
		}
		#objetivo h2{
			font-size: 40px;
			margin-bottom: 40px;
		}
		#objetivo p.text-white{
			font-size: 12px;
			line-height: 18px;
			max-height: 180px;
			margin-bottom: 20px;
		}
		#objetivo a.font-bold{
			font-size: 11px;
			letter-spacing: 4px;
		}

	/* --- esporte --- */
		#esporte div.bg-purple{
			max-width: 100%;
		}
		#esporte img.atleta{
			top: 32px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		#esporte .d-flex{
			margin-top: 50px;
			margin-left: 0px;
			margin-right: 0px;
		}
		#esporte img.bolinhas{
			display: none;
		}

	/* --- galeria --- */
		#galeria .d-flex .box{
		    margin-left: 10px;
		    margin-right: 10px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			background: url(../imagens/banners/banner-sobre.jpg)no-repeat 60% center;
		}
		#banner h1{
			right: 100px;
		}
		#banner .bg-white{			
			left: 0px;
		}

	/* --- sobre --- */
		#sobre{
			padding-top: 150px;
			padding-bottom: 0px;
		}
		#sobre h2{
			font-size: 40px;
		}
		#sobre p.text-gray{
			font-size: 15px;
		}
		#sobre .conteudo{
			max-height: 400px;
		}

	/* --- objetivo --- */
		#objetivo .itens{
			height: 360px;
		}
		
		#objetivo .item-01{
			background: url(../imagens/img-objetivo-01.png) no-repeat 0% center;
		}
		#objetivo .item-02{
			background: url(../imagens/img-objetivo-02.png)no-repeat 40% center;
		}

		#objetivo .itens:hover .layer{
		    padding-top: 35px;
		    padding-left: 15px;
		    padding-right: 15px;
		}
		#objetivo p.font-black-italic{
			font-size: 120px;
			top: -40px;
		}
		#objetivo h2{
			font-size: 30px;
			margin-bottom: 30px;
		}
		#objetivo p.text-white{
			font-size: 11px;
			line-height: 15px;
			max-height: 180px;
			margin-bottom: 20px;
			padding-right: 3px;
		}
		#objetivo a.font-bold{
			font-size: 10px;
			letter-spacing: 1px;
		}

	/* --- esporte --- */
		#esporte div.bg-purple{
			max-width: 100%;
			height: 100%;
		}
		#esporte .bg-purple p{
			font-size: 300px;
			line-height: 230px;
			margin-left: -10px;
			padding-top: 50px;
		}
		#esporte img.atleta{
			max-width: 100%;
			top: initial;
			bottom: 0;
		}
		#esporte .d-flex{
			margin-top: 30px;
			margin-left: 0px;
			margin-right: 0px;
		}
		#esporte h2{
			font-size: 40px;
			margin-bottom: 30px;
		}
		#esporte p{
			line-height: 20px;
			margin-bottom: 30px;
		}

	/* --- galeria --- */
		#galeria{
			padding-top: 50px;
			padding-bottom: 50px;
		}
		#galeria h2{
			font-size: 40px;
			margin-bottom: 50px;
		}
		#galeria .d-flex .box{
		    margin-left: 0px;
		    margin-right: 0px;
		}
}

@media screen and (max-width: 375px) {
	/* --- sobre --- */
		#sobre .conteudo{
			max-height: 520px;
		}

	/* --- objetivo --- */
		#objetivo a.font-bold{
			font-size: 10px;
			letter-spacing: 0px;
		}

	/* --- esporte --- */
		#esporte div.bg-purple{
			max-width: 100%;
			height: 100%;
		}
		#esporte .bg-purple p{
			font-size: 240px;
			line-height: 200px;
			margin-left: -10px;
			padding-top: 50px;
		}
		#esporte img.atleta{
			max-width: 100%;
			top: initial;
			bottom: 0;
		}
}